<% provide :title, t("admin.word.add_new") %>
<div class="col-lg-3">
  <%= render "layouts/side_bar" %>
</div>
<div class="col-lg-9">
  <h1 class="shadow" ><%= t "admin.word.add_new" %></h1>
  <div class="col-md-8 col-md-offset-2">
    <%= render "form" %>
  </div>
</div>