<% provide :title, t("list_user") %>
<h1 class="shadow"><%= t "list_user" %></h1>
<div class="table-responsive">
  <table class="table">
    <%= render @users %>
  </table>
  <center><%= will_paginate %></center>
</div>