<div id="category-<%= category.id %>">
  <div class="col-md-04">
    <strong><span><%= link_to category.name, category %></span></strong>
  </div>
  <div class="col-md-08">
    <em><span class="content"><%= category.description %></span></em>
  </div>
</div>