<% provide :title, t("category") %>
<h1 class="shadow" ><%= t "category" %></h1>
<% if @categories.any? %>
  <div class="categories">
    <%= render @categories %>
  </div>
  <%= will_paginate %>
<% end %>