<% provide :title, @category.name %>
<h2 class="shadow"> <%= @category.name %></h2>
<p class="description"><em><%= @category.description %></em></p>

<% if @words.any? %>
  <ul class="words">
    <%= render @words %>
  </ul>
<% end %>
<%= will_paginate @words %>
