<div class="lelf-side-bar">
  <ul class="menus">
    <li>
      <i class="glyphicon glyphicon-home"></i>
      <%= link_to t("dashbroad"), admin_root_path %>
    </li>
    <li>
      <i class="glyphicon glyphicon-th-list"></i>
      <%= link_to t("category"), admin_root_path %>
    </li>
    <li>
      <i class="glyphicon glyphicon-pencil"></i>
      <%= link_to t("admin.word.words"), admin_words_path %>
    </li>
  </ul>
</div>